@tailwind base;
@tailwind components;
@tailwind utilities;

/* // add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.card {
  @apply bg-slate-700;
  @apply shadow-lg;
  @apply rounded-lg;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply h-full;
  @apply p-4;
  @apply text-center;
  @apply cursor-pointer;
  @apply transition;
  @apply duration-500;
  @apply ease-in-out;
  @apply transform;
  @apply hover:scale-105;
  @apply hover:translate-y-1;
  @apply hover:translate-x-1;
  @apply hover:bg-slate-800;
  @apply hover:text-white;
  @apply hover:shadow-lg;
  @apply hover:rounded-lg;
  @apply hover:transform;
  @apply hover:scale-110;
  @apply hover:translate-y-1;
  @apply hover:translate-x-1;
}
